.btn {
  display: inline-block;
  background-color: var(--background-color);
  color: var(--text-color2);
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
}
