@font-face {
  font-family: "Brown Sunflower";
  src: url("../media/fonts/brown-sunflower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Corporate";
  src: url("../media/fonts/corporate.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cromlin";
  src: url("../media/fonts/cromlin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rroliie";
  src: url("../media/fonts/rrollie.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../media/fonts/SofiaProRegCond.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$font: "Brown Sunflower", sans-serif;
$font2: "Corporate", sans-serif;
$font3: "Cromlin", sans-serif;
$font4: "Rroliie", sans-serif;
$font5: "Sofia Pro", sans-serif;
