.footer {
  background-color: var(--background-color2);
  color: var(--text-color);
  padding: 200px 180px 40px;

  &__container {
    display: flex;
  }
  &__cta {
    text-align: left;
    margin-bottom: 20px;
    width: 40%;
  }

  &__cta-form {
    fieldset {
      border: none;
      padding: 0;
    }

    small {
      padding-top: 20px;
      display: block;
    }

    input[type="checkbox"] {
      margin-left: 20px;
    }
    label {
      min-width: 100px;
      display: inline-block;
      text-align: left;
    }
  }

  &__cta-input {
    padding: 10px 0;
    font-size: 1rem;
    width: 250px;
    display: block;
    border: none;
    border-radius: 0;
    background: var(--background-color2);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    color: var(--text-color);
    outline: none;
  }

  &__cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: none;
  }

  &__links {
    width: 20%;
  }

  &__link {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding-bottom: 40px;
    font-size: 1.7rem;
    text-align: left;
  }

  &__payments {
    text-align: center;
    width: 40%;
    padding-left: 180px;
    text-align: left;
  }

  &__payments img {
    width: 220px;
    position: relative;
    bottom: -4px;
  }

  &__payments--icons {
    padding: 0px 12px 0;
  }

  &__socials {
    padding-bottom: 40px;
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social {
    margin-right: 1em;
    color: var(--text-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--background-color);
    img {
      width: 20px;
      position: static;
    }
  }
}

@media only screen and (max-width: 1350px) {
  .footer {
    &__payments {
      padding-left: 100px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    padding: 200px 100px 40px;
  }
}

@media only screen and (max-width: 1020px) {
  .footer {
    padding: 200px 80px 40px;
  }
}

@media only screen and (max-width: 960px) {
  .footer {
    padding: 200px 50px 40px;

    &__social {
      width: 35px;
      height: 35px;
      img {
        width: 15px;
        position: static;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .footer {
    padding: 100px 100px 40px;
    &__container {
      flex-wrap: wrap;
    }
    &__cta {
      width: 100%;
      text-align: center;
    }
    &__cta-input {
      width: 100%;
    }
    &__links {
      width: 50%;
    }
    &__payments {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 780px) {
  .footer {
    padding: 100px 80px 40px;
    &__payments--icons {
      img {
        width: 180px;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    &__payments {
      padding-left: 60px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .footer {
    &__payments {
      padding-left: 30px;
    }
  }
}

@media only screen and (max-width: 570px) {
  .footer {
    padding: 100px 40px 40px;
    &__links {
      width: 100%;
    }
    &__link {
      text-align: center;
    }
    &__payments {
      width: 100%;
      text-align: center;
    }
    &__payments {
      padding-left: 0;
      text-align: center;
    }

    &__socials {
      margin: 0 auto;
    }

    &__social {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
