@use "../util";

.section__about {
  background-color: var(--background-color2);

  &--container {
    padding: 50px 170px;
  }
}

.section__title {
  font-size: 6rem;
  color: var(--text-color3);
  font-family: util.$font4;
  font-weight: 200;
  line-height: 5rem;
}

.section__content {
  margin-top: 20px;
  color: var(--text-color3);
  line-height: 4.2rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1020px) {
  .section__about {
    &--container {
      padding: 50px 60px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .section__title {
    font-size: 4rem;
    list-style: 3.5rem;
  }
}

@media only screen and (max-width: 620px) {
  .section__title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 570px) {
  .section__about {
    &--container {
      padding: 50px 25px;
    }
  }
}
