@use "../util";

.section__about {
  background-color: var(--background-color2);

  &--container {
    padding: 50px 150px;
  }
}

.section__title {
  font-size: 5rem;
  color: var(--text-color);
  font-family: util.$font3;
  font-weight: 200;
}

.section__content {
  margin-top: 20px;
  color: var(--text-color);
  line-height: 59px;
  font-size: 25px;
}

@media only screen and (max-width: 1020px) {
  .section__about {
    &--container {
      padding: 50px 80px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .section__title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 620px) {
  .section__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 570px) {
  .section__about {
    &--container {
      padding: 50px 50px;
    }
  }
}
