@use "../util";

.cakes {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.cake {
  width: 33%;
  margin: 10px;
  text-align: center;
  background-color: var(--background-color);
  position: relative;
  max-height: 650px;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.cake__title {
  font-family: util.$font4;
  font-size: 1.5rem;
  color: var(--text-color);
  position: absolute;
  bottom: 88px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 4.5rem;
  font-weight: 200;
}

@media only screen and (max-width: 920px) {
  .section--cakes {
    padding: 150px 100px;
  }
  .cakes {
    flex-wrap: wrap;
  }
  .cake {
    width: 100%;
  }
}

@media only screen and (max-width: 780px) {
  .cake {
    max-height: none;
  }
}
