.section--gallery {
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.gallery__item {
  overflow: hidden;
  max-height: 400px;
}

.gallery__image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  object-position: bottom;
}

@media only screen and (max-width: 780px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 570px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
